*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: black;
    color: white;
}

.background{
    background-image: url(netflix.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay{
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.login-box{
    width: 350px;
    padding: 40px;
    background:rgba(0, 0, 0, 0.75) ;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-box h1{
    margin-bottom: 20px;
    font-size: 32px;
}
form input{
    width: 100%;
    padding: 14px;
    margin-bottom: 1px;
    border-radius: 4px;
    border: none;
    background:#333;
    color: white;
}
form button{
    width: 100%;
    padding: 14px;
    background:red ;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 10ox;
}

.extras{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 14px;

}

.extras a{
    color: #b3b3b3;
    text-decoration:none;
}

.signup a{
    color: white;
    text-decoration: none;
}

.small-text{
    margin-top: 15px;
    font-size: 13px;
    color: #8c8c8c;
}

/* ab aa gyai baat responsive kren par chalo karte hain.. */
@media (max-width:600px){
    .login-box{
        width: 90%;
        padding: 25px;
    }
    
}