body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #202124;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
}

.log0{
    margin-bottom: 20px;
    width: 10px;
    height: 10px;

}

.search-box input{
    width: 400px;
    padding: 10px;
    border-radius: 24px;
    outline: none;
    font-size: 16px;

}
.buttons{
    margin-top: 20px;

}
button{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #303134;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: #3c4043;
}